* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.back-ground-color{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(hsl(300, 100%, 20%),#9900cc);
}

.name{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

nav {
    background-color:linear-gradient(hsl(300, 100%, 20%),#9900cc);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-right: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color:#9900cc;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: linear-gradient(hsl(300, 100%, 20%),#9900cc);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 0;
    }

    .nav-links li a {
        padding: 1rem;
        display: block;
        border-bottom: 1px solid #cc00cc;
    }
}
