* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation_bar {
    background-color: #660066;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Adjust padding for better spacing */
}

.logo-name {
    color: white;
    font-size: 24px; /* Increase font size for better readability */
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px; /* Add some spacing between menu items */
}

.navigation_bar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /* Add smooth color transition on hover */
}

.navigation_bar a:hover {
    color: #ff99ff;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .navigation_bar {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the start */
    }

    .menu ul {
        flex-direction: row; /* Stack menu items vertically */
        padding-top: 20px; /* Add padding for better spacing */
        padding-bottom:0;

       .home-nav{
        padding-right: 10px;
        align-items: left;
       }
       .about-nav{
        padding-right: 10px;
        align-items: center;
       }
       .services{
        padding-right: 10px;
        align-items: right;
       }

    }

    .menu li {
        margin-right: 0; /* Remove right margin to stack items without gaps */
        margin-bottom: 5px; /* Add bottom margin for spacing between items */
    }
}
